body {
  background-color: #2b2b2b !important;
  color:#282c34
}

h1 {
  text-align: center;
  display: block !important;
  color: #12b2da;
}

form {
  text-align: center;
  display: block !important;
  color: #12b2da;
}

.form-control {
  width:fit-content !important;
  margin: auto !important;
  text-align: center;
  display: block !important;
}

ul {
  display: block !important; 
}

p {
  display: block !important;
  text-align: center;
  color: #12b2da;
}

img {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: block !important;
  border-radius: 10%;
  border-style: solid;
  border-color: #12b2da;
}
